
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@font-face {
    font-family: 'Gobold CYR - LAT';
    src: url('../fonts/Gobold/gobold-webfont.eot');
    src: url('../fonts/Gobold/gobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gobold/gobold-webfont.woff2') format('woff2'),
         url('../fonts/Gobold/gobold-webfont.woff') format('woff'),
         url('../fonts/Gobold/gobold-webfont.ttf') format('truetype'),
         url('../fonts/Gobold/gobold-webfont.svg#gobold_cyr-latregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background: url('../images/fon.jpg');
}
/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 16% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 25% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggle .icon-bar{
	width: 30px;
}
.navbar_header_top{
	background: rgba(0,0,0,0);
	border: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 3;
}
 .my_but{
 	display: block;
 	color: #fff !important;
 	background: none !important;
 	border: none ;
 }
 .navbar-default .navbar-toggle .icon-bar{
 	background: #fff;
 }
 .my_bar{
 	float:none; 
 }

.logo_light {
	filter: brightness(0) invert(1);
}
.header_bar_red{
	background: #9e171d;
	color: #fff;
	transition : 1s all ease;
}
.header_bar_red .navbar-nav>li>a{
	color:inherit;
}
 .top_bar{
 	margin-top: 95px;
 }
  .logo{
  	text-transform: uppercase;
  }
  .logo h1{
  	color: #fff;
  	font-size: 27px;
  	margin: 10px 0 0 0;
  	font-family: "Source Sans Pro";
  	font-weight: 700;
  }
      .logo h1 span{
  	font-weight: 800;
  }
    .logo h1+h1{
    	font-size: 15px;
  	color: #9e171d;
  	font-family: "Source Sans Pro";
  	font-weight: 400;
  }
  .menu_navbar{
	margin-top: 100px;
	padding-bottom: 25px;

  }
  .menu_navbar li a{
  	display: block;
  	text-transform: uppercase;
  	font: 13px/24px 'OpenSans Light';
  	padding: 10px 10px;
  }
   .navbar-default .menu_navbar li:hover a{
 	box-shadow: 0px 2px 0px -1px #fff;
  	color: #fff;
  }
.navbar-nav>li {
    float: left;
}
.car{
	margin-top: 225px;
}
 img{
	max-width: 100%;
}
.carousel-control.right_arrow{
	background-image: none;
}
.my_top_slider{
	margin-top: 225px;
}
.my_top_slider_content{
	font-size: 32px;
	color: red;
	z-index: -1;
	padding:5% 7% 10% 10% ;
	background: rgba(38,38,38,.1)
}

.my_top_slider_content p{
	color: #82878a;
	font-family: "Gobold CYR - LAT";
	font-size: 25px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}
.my_top_slider_content p span{
	color: #4a4c4c;
    box-shadow: -10px 12px 0 -10px #4a4c4c;

}
.my_top_slider_content p+p{
	margin-top: 25px;
	text-transform: none;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 300;
}
.top_slider_arrow{
	position: absolute;
	top:80%;
	right: 200%;
		display: block;
	width: 30px;
	height: 3px;
	background:#4a4c4c;
}
.top_slider_arrow:before{
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-top: #4a4c4c solid 3px;
	border-right: #4a4c4c solid 3px;
	transform: rotate(45deg);
	position: absolute;
    top: -5px;
    left: 70%;
}
.container .carousel-inner .right_arrow{
	background: none;
}
.counter_slider{
	position: absolute;
	left: 20%;
	top:74%;
	color: #4a4c4c;
	
}

/*INTRO*/

.top_car_content{
		margin-top: 10%;
	padding: 0;
	position: relative;
	overflow: hidden;


}

.intro_1{
	 background-image: url(../images/intro_1.jpg);
    background-size: cover;
    height: 600px;
    background-position: -373px 0px;
    box-shadow: inset 0px 0px 0px 700px rgba(0,0,0,.3);
    width: 37.5%;
	float: left;
	position: relative;
	background-repeat: no-repeat;
}

.intro_2{
    background-image: url(../images/intro_2.jpg);
    background-size: cover;
    height: 600px;
    background-position: -323px 0px;
    box-shadow: inset 0px 0px 0px 700px rgba(0,0,0,.3);
		position: relative;
		background-repeat: no-repeat;

}

.intro_3{
	 background-image: url(../images/intro_3.jpg);
    background-size: cover;
    height: 600px;
    background-position: -100px 0px;
    box-shadow: inset 0px 0px 0px 700px rgba(0,0,0,.3);
    width: 37.5%;
    float: left;
    	position: relative;
    	background-repeat: no-repeat;
}


.top_car_content p{
	color: #fff;
	font-family: "Gobold CYR - LAT";
	font-size: 25px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	padding: 50px 0 0 90px;


}
span.decor{
	position: relative;
		color: #000;
}

span.decor:after{
	content: '';
	width: 60px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 30px;
	left: 0;
}

.top_car_content p+p{
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-transform: none;
	padding: 30px 90px;

}
.intro_2 p{
	padding: 50px 0 0 30px;
}
.intro_2 p+p{
	padding: 30px 30px;
}
.intro_3 p{
	padding: 50px 0 0 70px;
}
.intro_3 p+p{
	padding: 30px 70px;
}
.intro_1:hover{
	box-shadow: inset 0 0 0 400px rgba(255,0,0,.3);
	cursor: pointer;
}
.intro_2:hover{
	box-shadow: inset 0 0 0 400px rgba(255,0,0,.3);
	cursor: pointer;
}
.intro_3:hover{
	box-shadow: inset 0 0 0 400px rgba(255,0,0,.3);
	cursor: pointer;
}
.arrow{
	font-size: 0;
	display: block;
	width: 25px;
	height: 3px;
	background: #82878a;
	position: absolute;
	right:75%;
	top:88%;
	cursor: pointer;
}
.arrow:after{
	content: '';
	width: 15px;
	height: 15px;
	border-top: 2px solid #82878a; 
	border-right: 2px solid #82878a; 
	transform: rotate(45deg);

	position: absolute;
	z-index: 2;
    right: -6px;
    top: -7px;
}
.arrow:before{
	content: '';
	width: 50px;
	height: 50px;
	border: #82878a 2px solid;
	position: absolute;
    right: -14px;
    top: -25px;
	}

/*OUR SECTION*/
.background_our{
	background: #fff;


}
.our{
		position: relative;
}

.our_slider .owl-dots .owl-dot{
	visibility: hidden;
}

.our_slider .owl-nav button.owl-prev span{
	font-size: 0;
	display: block;
	width: 25px;
	height: 3px;
	background:#82878a;
	position: absolute;
	left:-5%;
	top: 50%;
}
.our_slider .owl-nav button.owl-prev span:after{
	content: '';
	width: 15px;
	height: 15px;
	border-top: 2px solid #82878a; 
	border-right: 2px solid #82878a; 
	transform: rotate(-135deg);

	position: absolute;
	z-index: 2;
    left: -6px;
    top: -7px;
}
.our_slider .owl-nav button.owl-prev span:before{
	content: '';
	width: 50px;
	height: 50px;
	border: #82878a 2px solid;
	position: absolute;
    left: -14px;
    top: -25px;
}
.our_slider .owl-nav button.owl-next span{
	font-size: 0;
	display: block;
	width: 25px;
	height: 3px;
	background: #9e171d;
	position: absolute;
	right:-5%;
	top:50%;
}
.our_slider .owl-nav button.owl-next span:after{
	content: '';
	width: 15px;
	height: 15px;
	border-top: 2px solid #9e171d; 
	border-right: 2px solid #9e171d; 
	transform: rotate(45deg);

	position: absolute;
	z-index: 2;
    right: -6px;
    top: -7px;
}
.our_slider .owl-nav button.owl-next span:before{
	content: '';
	width: 50px;
	height: 50px;
	border: #9e171d 2px solid;
	position: absolute;
    right: -14px;
    top: -25px;
	}
		.title h2{
			font-family: "Gobold CYR - LAT";
			font-size: 40px;
			font-weight: 400;
		text-transform: uppercase;
		color: #9e171d;
		/*padding: 4px;*/
	}
	.title h2 span{
		color: black;
    box-shadow: -13px 18px 0px -15px #9e171d;
	}
	.our_slider{
		margin-top: 20px;
	}
.our_menu{
	padding: 0;
	font-size: 25px;
	font-weight: 800;
	text-align: center;
	list-style-type: none;
	cursor: pointer;
}
.our_menu_1{
	margin-top: 15px;
}
.our_menu li{
		position: relative;

}

.our_menu li ul{
	width: 100%;
	padding: 10px 0;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	list-style-type: none;
	position: absolute;
	bottom: 100%;
	left: -7000%;
transition: all 0.5s ease;
background: rgba(158,23,29,.85)
		
}

.our_menu li:hover ul{
		cursor: pointer;
	position: absolute;
	bottom: 100%;
	left: 0;
}
.our_item:hover .our_menu li ul{
	cursor: pointer;
	position: absolute;
	bottom: 100%;
	left: 0;
}
.our_item{
	cursor: pointer;
	overflow: hidden;
}
.our_menu li ul a{
	display: block;
	padding: 2px 0;
	text-decoration: none;
	color: inherit;
}
.our_item{
	vertical-align: top;
}

/*FORMA*/
.forma{
	margin-top: 50px;
}
.forma h2{
	font-family: "Gobold CYR - LAT";
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
		color: #9e171d;
		padding: 4px;
		position: relative;
}
.forma h2 span{
		color: #fff;

}
.forma span.decor:after{
	top:100%;
	background: #9e171d;
}
.forma form{
	margin-top: 15px;
	font: 13px 'OpenSans'
}
.arrow_for_form{
	color:red;
}
label{
	cursor: pointer;
	}

	input[type="checkbox"]{
			display: none;
	}

	input[type="checkbox"]+label{
			padding-right: 30px;
			position: relative;
			
	}

	input[type="checkbox"]+label:before{
		content:"";
		width: 20px;
		height: 20px;
		border: 2px solid #9e171d;
		position: absolute;
		top: -7px;
		right: 0
	}

	input[type="checkbox"]:checked+label:after{
	    content: "";
	    width: 21px;
	    height: 12px;
	    border-left: 2px solid #fff;
	    border-bottom: 2px solid #fff;
	    transform: rotate(-45deg);
	    position: absolute;
	    top: -7px;
	    right: -2px;
		}

.btn .arrow_for_form{
		display: block;
		color: red;
		height: 32px;
		border-left: 1px solid #4a4c4c;
		position: absolute;
		right: 0;
		top: 0;
		padding: 6px;
/*		transform: translateY(-10px);*/
	}
	.menu_for_form{
		min-width: 370px;
		border-radius: 0px;
		margin: 0;
		box-shadow: none;
	}
	.btn_for_form{
		border-radius: 0px;
		border: 1px solid #4a4c4c;
		text-align: left;
	min-width: 370px;
			background: rgba(0,0,0,0);
			position: relative;
	}
	input.form-control:focus{outline: none;
	outline-offset: 0;
	box-shadow: none;
	border-color:#fff;
	}
	input.form-control{
	border-radius: 0px;
	}
	form p{
		margin-top:5px;
	}
	form p span{
	color: #9e171d;
	}
	textarea{
		width: 100%;
		min-height: 50px;
		resize: none;
	}
	.data_text{
	margin-top: 30px;
	}
	.details{
		margin-top: 30px;
	}
		.details input{
		min-height: 100px;
		vertical-align: top;
		padding-top: -20px;
	}
	.form_button{
		color: #fff;
		background: rgba(0,0,0,0);
		text-transform: uppercase;
		border-radius: 0;
		margin-top: 30px;
		padding: 10px 60px;
		transition: all .5s ease;
	}
	.estimate  a{
		display: block;
		margin-top: 30px;
		padding-left: 20px;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		transition: all .5s ease;
	}
		.estimate  a:after{
			content: '';
		width: 12px;
		height: 12px;
		border-top: 2px solid #fff;
		border-left: 2px solid #fff;
		transform: rotate(-45deg);
		position: absolute;
		left: 0;
		top:3px;
		transition: all .2s ease;
	}
	.estimate  a:hover{
	text-decoration: none;
	color: #9e171d;
	}
		.estimate a:hover:after{
		border-top: 2px solid #9e171d;
		border-left: 2px solid #9e171d;
	}
	.background_for_form{
	 background: #161616;
	 padding-bottom: 50px;
	}

/*COMMENT*/
	.comment .title h2{
		color: #fff;
		position: relative;
	}
	.comment .title h2 span:after{
		background: red;
		top:102%;
	}

.comment_img{
	width: 50%;
}
.comment small{
	display: inline-block;
	margin-top: 20px;
}
.comment_item h4{
	text-transform: uppercase;
	color:#9e171d;
}
.comment{
	margin-top: 30px;
	position: relative;
}
.comment .our_slider .owl-nav button.owl-prev span{
	top: -18%;
    left: 94%;
      	background:#9e171d; 
}
.comment .our_slider .owl-nav button.owl-prev span:after{
	border-right: 2px solid #9e171d;
	border-top: 2px solid #9e171d;
}
.comment .our_slider .owl-nav button.owl-prev span:before{
	border: 2px solid #9e171d;
}
.comment .our_slider .owl-nav button.owl-next span{
	top: -18%;
    right: 0;
}
.menu {
	padding: 0;
	margin-top: 30px;
}
.menu li{
	float: left;
}
.menu li a{
	text-align: center;
	display: block;
	padding: 5px 7px 5px 0;
	text-transform: uppercase;
	color:#82878a;
}

/*FOOTER*/
.menu {
	padding: 0;
	margin-top: 60px;
}
.menu li{
	float: left;
	list-style: none;
}
.menu li a{
	text-align: center;
	display: block;
	padding: 5px 7px 5px 0;
	text-transform: uppercase;
	color: #82878a;
}
	.my_footer{
		background: #fff;
	}
	.my_footer h2{
		padding: 0;
	}
	.my_footer .title h2 span{
		box-shadow: none;
	}
	.my_footer .title h2 span:after{
		background: #9e171d;
		top:120%;
	}
	.contacts{
		margin-top: 60px;
		color: #82878a;
	}
	.contacts a{
		color: #82878a;
	}
	.telephone,.email{
		float: left;
		margin-right: 40px;
	}
	.bottom_footer{
		background: #e6e6e6;
			font-size: 13px;
	}
	.bottom_footer span{
		color:#9e171d;
	}
	
	.soc_icon {	
		margin-left: 0;
		float: left;
	}
	.soc_icon li{	
		float: left;
		list-style: none;
	}
	.soc_icon li a{	
		display: block;
		margin: 4px 1px 1px 0;
		padding: 0 15px;
		height: 30px;
		background: url(../images/soc_icon.png);
		background-position: 0 0;
	}
		.soc_icon li+li a{	
		background-position: 64px 0;
	}
		.soc_icon li+li+li a{	
		background-position: 30px 0;
	}
	.bottom_footer h5{
			font: 13px  "Open Sans";;
			padding: 0;
	}
	/*MEDIA
}*/
@media (max-width: 1200px){
	.comment .our_slider .owl-nav button.owl-prev span{
	top: -15%;
    left: 92%;
    }
    .comment .our_slider .owl-nav button.owl-next span{
	top: -15%;
    right: 0;
    }
      .menu_navbar{
	margin-top: 100px;
	padding-bottom: 25px;

  }
  .menu_navbar li a{

  	padding: 10px 5px;
  }
    .our_slider .owl-nav button.owl-next span{
	right:0;
	}
    .our_slider .owl-nav button.owl-prev span{
	left:0;
	}
}



@media (max-width: 992px) {
  .our_slider .owl-nav button.owl-prev span {
  	top: -50px;
  	left:75%;

  }
   .our_slider .owl-nav button.owl-next span {
  	top: -50px;
  	left:90%;
  }
  .intro_1,.intro_2,.intro_3{
    background-position: 0 0;
    width: 100%;

	background-repeat: no-repeat;
}
.comment .our_slider .owl-nav button.owl-prev span{
	top: -5%;
    left: 75%;
    }
    .comment .our_slider .owl-nav button.owl-next span{
	top: -5%;
    right: 0;
    }
	 	   .menu_navbar{
	margin-top: 50px;
	text-align: center;

  }
	  .menu_navbar li a{
  	padding: 10px 27px;
  	border-left: none;
  }
  	  .menu_navbar li+li+li+li+li+li+li a{
  	padding: 10px 37px;
  }
    	  .menu_navbar li+li+li+li+li+li+li+li a{
  	}


}
@media (max-width: 768px) {
	  .intro_1,.intro_2,.intro_3{
    background-position: 0 -100px;
    width: 100%;
    height: 300px;

	background-repeat: no-repeat;
}
.comment .our_slider .owl-nav button.owl-prev span{
	top: -80px;
    left: 75%;
    }
    .comment .our_slider .owl-nav button.owl-next span{
	top: -80px;
    right: 0;
    }
	  .header_bar_red{
	  	padding:0;
	  }

	   .menu_navbar{
	margin-top: 50px;
	text-align: center;
  }
  .mobile_menu{
  	padding: 0;
  }
  .menu_navbar li a{
  	padding: 10px 29px;

  }
    .menu_navbar li+li+li+li+li+li+li a{
	padding: 10px 39px;
  }
}

@media (max-width: 480px) {
	.form_button{
	margin-bottom: 30px;
	}
	.estimate h2,.title h2{
		font-size: 30px;
		}
	  .intro_1,.intro_2,.intro_3{

    display: none;

	background-repeat: no-repeat;
}
	  .header_bar_red{
	  	padding:0;
	  }

	   .menu_navbar{
	margin-top: 50px;
	text-align: center;
  }
  .mobile_menu{
  	padding: 0;
  }
  .menu_navbar li a{
  	padding: 10px 52px;
  	border: 1px solid #fff;
  	border-left: none;
  }
    .menu_navbar li+li+li a{
  	border-right: none;
  }
    .menu_navbar li+li+li+li a{
  	padding: 10px 45px;
  	border-right: 1px solid #fff;
  }
      .menu_navbar li+li+li+li+li+li a{
  border-right: none;
  }
       .menu_navbar li+li+li+li+li+li+li a{
  		padding: 10px 52px;
  		border-right: 1px solid #fff;
  }
         .menu_navbar li+li+li+li+li+li+li+li+li a{
  		border-right: none;
  }
           .menu_navbar li+li+li+li+li+li+li+li+li+li a{
         	padding: 10px 80px;
  		border-right: 1px solid #fff;
  }
             .menu_navbar li+li+li+li+li+li+li+li+li+li+li a{
  		border-right: none;
  }
.navbar-default .menu_navbar li:hover a{
	box-shadow: none;
}
	.menu_for_form{
		min-width: 270px;
		border-radius: 0px;
		margin: 0;
		box-shadow: none;
	}
	.btn_for_form{
		border-radius: 0px;
		border: 1px solid #4a4c4c;
		text-align: left;
	min-width: 270px;
}
}
@media (max-width: 360px){
.comment .our_slider .owl-nav button.owl-prev span{
	top: -80px;
    left: 70%;
    }
    .comment .our_slider .owl-nav button.owl-next span{
	top: -80px;
    right: 0;
    }
  .menu_navbar li a{
  	padding: 10px 32px;
  }
  .menu_navbar li+li+li+li a{
  	padding: 10px 25px;
  }
    .menu_navbar li+li+li+li+li+li+li a{
  	padding: 10px 32px;
  }
      .menu_navbar li+li+li+li+li+li+li+li+li+li a{
  	padding: 10px 50px;
  }
}

@media (max-width: 320px){
	  .menu_navbar li a{
  	padding: 10px 25px;
  }
  	  .menu_navbar li+li+li+li a{
  	padding: 10px 18px;
  }
    	  .menu_navbar li+li+li+li+li+li+li a{
  	padding: 10px 25px;
  }
      	  .menu_navbar li+li+li+li+li+li+li+li+li+li a{
  	padding: 10px 40px;
  }
}